<!--<div id="crumbs" class="sixteen columns">
    <a href="/" title="Home">Home</a>
    &raquo;
    <a href="{{ page.url }}">{{ page.title }}</a>
</div>

{% if settings.show_social_page %}
<div class="social floating">
    <span class="label">{{ settings.text_sharethis }}</span>
    {% include 'social-sharing' %}
</div>
{% endif %}-->

<div class="sixteen columns art_share">
    <div class="sh_top">
        <h1>{{ page.title }}</h1>

    </div>
    <div class="mf_ban">
    
    </div>
              <h4>
    Hi, we’re Jesse and Rachel, husband and wife yoga teachers and<br> founders of KOOSHOO. Lovely to meet you.
            </h4>
    <div class="mf_text sh_btm">
    	<div class="shb_left">
        	{{ settings.mf_a }}
        </div>
        <div class="sh_right">
        	{{ settings.mf_aa }}
        </div>
    </div>
</div>

<div style="margin: -10px auto 0px; background-color: rgb(249, 249, 249); padding-bottom: 50px;" >
    <div class="container art_rnhj" id="kooshoo_eh">
        <div style="margin: 0px auto; display: table;" class="sixteen columns">
            <div class="sh_top" id="video">
              <h2>What does <i>kooshoo</i> mean?</h2>
                <!--<h4> “Be the change you wish to see in the world.”  </h4>-->
            </div>
            
            <div class="addd" >
                
            
            </div>
          		<script type="text/javascript">
                    function changeSizea() {
                        if ($(window).width() >= 960) {
                           $('.addd').append('<object width="960" height="540"><param name="movie" value="//www.youtube.com/v/zxCJHvfSESo?version=3&amp;hl=en_EN&amp;rel=0&controls=0&showinfo=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/zxCJHvfSESo?version=3&amp;hl=en_EN&amp;rel=0&controls=0&showinfo=0" type="application/x-shockwave-flash" width="960" height="540" allowscriptaccess="always" allowfullscreen="true"></embed></object>');
                        } else if ($(window).width() >= 768 ){
							$('.addd').append('<object width="768" height="432"><param name="movie" value="//www.youtube.com/v/zxCJHvfSESo?version=3&amp;hl=en_EN&amp;rel=0&controls=0&showinfo=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/zxCJHvfSESo?version=3&amp;hl=en_EN&amp;rel=0&controls=0&showinfo=0" type="application/x-shockwave-flash" width="768" height="432" allowscriptaccess="always" allowfullscreen="true"></embed></object>');
                        } else if ($(window).width() >= 480 ){
                        	$('.addd').append('<object width="420" height="236"><param name="movie" value="//www.youtube.com/v/zxCJHvfSESo?version=3&amp;hl=en_EN&amp;rel=0&controls=0&showinfo=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/zxCJHvfSESo?version=3&amp;hl=en_EN&amp;rel=0&controls=0&showinfo=0" type="application/x-shockwave-flash" width="420" height="236" allowscriptaccess="always" allowfullscreen="true"></embed></object>');
                        } else {
                        	$('.addd').append('<object width="320" height="180"><param name="movie" value="//www.youtube.com/v/zxCJHvfSESo?version=3&amp;hl=en_EN&amp;rel=0&controls=0&showinfo=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/zxCJHvfSESo?version=3&amp;hl=en_EN&amp;rel=0&controls=0&showinfo=0" type="application/x-shockwave-flash" width="320" height="180" allowscriptaccess="always" allowfullscreen="true"></embed></object>');
                        } 
                    };
                    changeSizea();
  				</script>
          
          
          
            <div class="mf_text sh_btm">
                <div class="shb_left">
                    {{ settings.mf_b }}
                </div>
                <div class="sh_right">
                    {{ settings.mf_bb }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mf_btm" id="business">
<div class="container art_pagen">
    <div class="sh_top">
        <h1>The KOOSHOO Way of Business</h1>
        <h4>think good, feel good, create good, share the goodness</h4>
    </div>
    <div class="mfb_main">
        <div class="mfb_thumb left uno">
        <h5>organic &amp; natural</h5>
        <p>
             {{ settings.mft_a }}
        </p>
        </div>
        <div class="mfb_thumb right duo">
        <h5>made in california </h5>
        <p>
             {{ settings.mft_b }}
        </p>
        </div>
        <div class="mfb_thumb left tres">
        <h5>solar powered</h5>
        <p>
             {{ settings.mft_c }}
        </p>
        </div>
        <div class="mfb_thumb right quatro">
        <h5>ethically operated</h5>
        <p>
             {{ settings.mft_d }}
        </p>
        </div>
        <div class="mfb_thumb left cinco">
        <h5>hand dyed</h5>
        <p>
             {{ settings.mft_e }}
        </p>
        </div>
        <div class="mfb_thumb right seis">
        <h5>giving to charity</h5>
        <p>
             {{ settings.mft_f }}
        </p>
        </div>
        <div class="mfb_thumb center sete">
       <h5>feeling<br>good!</h5> 
        </div>
    </div>
</div>
</div>
<div class="mf_press" id="press">
    <div class="mfp_top">
        Press
    </div>
    <div class="mfp_content">
        {% if settings.use_a_press %}
            <a href="{{ settings.press_a }}">
                <img src="{{ 'mf_press1.png' | asset_url }}" />
            </a>
        {% endif %}
        {% if settings.use_b_press %}
            <a href="{{ settings.press_b }}">
                <img src="{{ 'mf_press2.png' | asset_url }}" />
            </a>
        {% endif %}
        {% if settings.use_c_press %}
            <a href="{{ settings.press_c }}">
                <img src="{{ 'mf_press3.png' | asset_url }}" />
            </a>
        {% endif %}
        {% if settings.use_d_press %}
            <a href="{{ settings.press_d }}">
                <img src="{{ 'mf_press4.png' | asset_url }}" />
            </a>
        {% endif %}
        {% if settings.use_e_press %}
            <a href="{{ settings.press_e }}">
                <img src="{{ 'mf_press5.png' | asset_url }}" />
            </a>
        {% endif %}
        {% if settings.use_f_press %}
            <a href="{{ settings.press_f }}">
                <img src="{{ 'mf_press6.png' | asset_url }}" />
            </a>
        {% endif %}
        {% if settings.use_g_press %}
            <a href="{{ settings.press_g }}">
                <img src="{{ 'mf_press7.png' | asset_url }}" />
            </a>
        {% endif %}
        {% if settings.use_h_press %}
            <a href="{{ settings.press_h }}">
                <img src="{{ 'mf_press8.png' | asset_url }}" />
            </a>
        {% endif %}
        {% if settings.use_i_press %}
            <a href="{{ settings.press_i }}">
                <img src="{{ 'mf_press9.png' | asset_url }}" />
            </a>
        {% endif %}
    </div>
 
</div>
<div class="mf_dream">
    <p>
    – live your dreams –
    </p>
    <h5>
    “Be the change you wish to see in the world.” 
  </h5>
</div>
<div class="mf_contact" id="contact">
    <h5>
        Contact 
    </h5>
    <h6>
    We are super friendly<br>
    and would love to hear from you.<br>
    You can also follow us: 
    </h6>
    
    <div class="mf_social">
        <!--<a href="">
            <div class="mfc_rss">
            </div>
        </a>-->
        <a href="http://www.facebook.com/KOOSHOO.smile" target="_blank">
            <div class="mfc_fb">
            </div>
        </a>
        <a href="http://www.twitter.com/kooshoo" target="_blank">
            <div class="mfc_tw">
            </div>
        </a>
        <a href="http://instagram.com/feelingkooshoo" target="_blank">
            <div class="mfc_ig">
            </div>
        </a>
        <a href="http://www.pinterest.com/kooshoo" target="_blank">
            <div class="mfc_pr">
            </div>
        </a>
   
    </div>
     
    <p>
        For general inquiries:<br>
        <a href="mailto:{{ settings.email_a }}">{{ settings.email_a }}</a>
    </p>
    <p>
        For press and media inquires:<br>
        <a href="mailto:{{ settings.email_b }}">{{ settings.email_b }}</a>
    </p>
    <p>
        If you want to make a return or<br>
        an exchange, email <a href="mailto:{{ settings.email_c }}">{{ settings.email_c }}</a><br> with your order details to begin<br> the returns process
      
    </p>
</div>
<div>  
  {% comment %}
 <!-- <iframe style="height: 808px;" id="iframecode" onload="" src="https://instaembedder.com/gallery.php?username=feelingkooshoo&amp;hashtag=orghhhhhaniccotton&amp;width=150&amp;cols=3&amp;frame=1&amp;image_border=10&amp;rows=4&amp;cell_margin=10&amp;display_username=0&amp;likes=1&amp;comments=1&amp;date=1&amp;link=1&amp;caption=0&amp;color=gray" frameborder="0" scrolling="no" width="536"></iframe>-->
 <!--   {% include 'process-html' with page.content %}-->


<!--<aside class="five columns offset-by-one widgets">
    {% assign data = settings.widget_s1_handle %}
    {% unless data == '' %}{% include settings.widget_s1_type %}{% endunless %}
    
    {% assign data = settings.widget_s2_handle %}
    {% unless data == '' %}{% include settings.widget_s2_type %}{% endunless %}
    
    {% assign data = settings.widget_s3_handle %}
    {% unless data == '' %}{% include settings.widget_s3_type %}{% endunless %}
</aside>-->
{% endcomment %}
